anyio==3.5.0
asgiref==3.5.0
cffi==1.15.0
chardet==4.0.0
click==8.1.0
cryptography==36.0.2
fastapi==0.75.0
h11==0.13.0
httptools==0.4.0
idna==3.3
jieba==0.42.1
lxml==4.8.0
pdfminer.six==20220319
pycparser==2.21
pydantic==1.9.0
python-docx==0.8.11
python-dotenv==0.20.0
python-multipart==0.0.5
PyYAML==6.0
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
tqdm==4.64.0
typing_extensions==4.1.1
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.1
websockets==10.2
